*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 10vh;
    background-color: #E6E6FA;
}
i{
    color: #E6E6FA;
}
b{
    color: #6A5ACD;
    gap: 10px;
}
c{
    color: #9999ff;
    gap: 10px;
}
header{
    display: flex;
    width: 100%;
    align-items: center;  
    background-color: #6A5ACD;
    justify-content: space-evenly;
}
.menu{
    display: flex;
    gap: 70px;
    list-style: none;
    font-family: Georgia, serif      
}
.menu li a{
    color: #E6E6FA;   
}

header button{
    padding: 2px 15px;
    background-color: #E6E6FA;
    border: 1px solid #E6E6FA;
    color: #6A5ACD;
    font-family: Georgia, serif;
    font-weight: 700;
    transition: 0.5s all;
    border-radius: 25px;
}
header button:hover{
    background-color: #C0C0C0;
    color: #E6E6FA;
}
.icerik3{
    font-size: xx-large;
    font-family: Georgia, serif;
    color: #6A5ACD;
    text-align: center;
    margin-top: 30px;   
}
.fav1{
    padding: 2px 15px;
    background-color: #6A5ACD;;
    border: 1px solid #6A5ACD;;
    color: #E6E6FA;
    font-family: Georgia, serif;
    font-weight: 700;
    transition: 0.5s all;
    border-radius: 25px;
    padding: 5px;
    transition: 0.5s all;
    margin: 40px;
}
div button:hover{
    background-color: #C0C0C0;
    color: #6A5ACD;
    border: 2px solid #C0C0C0;   
}
.golge{
    width: 100%;
    height: 15px;
    background-image: linear-gradient(#CCCCFF, transparent);
    z-index: -1;
    display: inline-block;
}
.kutu1{
    margin-left: 40px;
    display: inline-block;
    background-color:#9999ff;
    height: 565%;
    width: 22%;
    margin-top: 55px;
    vertical-align: top; /* div'lerin içi dolunca hizalama bozuluyor. 
    hizalama yapmak için kullanılır */
}
.kutu1 img{
    display: block;
    padding: 20px;
    margin-left: 21%;
}
.yazi1{
    display: block;
    font-size:large;
    margin: 5px;
    margin-top: -10px;
    color: #E6E6FA;
    text-align: center;
}
.yazi1-1{
    text-align: center;
    color: #E6E6FA;
}
.ekle1{
    margin-left: 89px;
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 20px;
    color: #9999ff;
    background-color: #E6E6FA;
    text-align: center;
    border-color: #9999ff;
    border-radius: 10px;
    text-align: center;

}
.kutu1 button:hover{
    background-color:#9999ff;
    color: #E6E6FA;
    border-color: #9999ff
}
.ekle2-1{
    margin-left: 90px;
    padding-left: 40px;
    padding-right: 24px;
    padding-right: 36px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 20px;
    color:#9999ff;
    background-color:#E6E6FA;
    text-align: center;
    border-color: #9999ff;
    border-radius: 10px;
    text-align: center;
}
.kutu1-1{
    display: inline-block;
    background-color:#6A5ACD;
    height: 100%;
    width: 100%;
    margin-top: -400px;
    margin-left: 565px;
    vertical-align: top; /* div'lerin içi dolunca hizalama bozuluyor. 
    hizalama yapmak için kullanılır */
}
.kutu1-1 img{
    display: block;
    padding: 20px;
    margin-left: 21%;
}
.yazi2{
    display: block;
    font-size:large;
    margin: 5px;
    margin-top: -10px;
    color: #E6E6FA;
    text-align: center;
}
.yazi2-1{
    text-align: center;
    color: #E6E6FA;
}
.ekle2{
    margin-left: 89px;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 20px;
    color: #6A5ACD;
    background-color: #E6E6FA;
    text-align: center;
    border-color: #6A5ACD;
    border-radius: 10px;

}
.ekle2-2{
    margin-left: 89px;
    padding-left: 40px;
    padding-right: 42px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 20px;
    color: #6A5ACD;
    background-color: #E6E6FA;
    text-align: center;
    border-color: #6A5ACD;
    border-radius: 10px;
    text-align: center;
}
.kutu1-1 button:hover{
    background-color: #6A5ACD;
    color: #E6E6FA;
    border-color: #6A5ACD
}
.kutu1-2{
    display: inline-block;
    background-color:#6A5ACD;
    height: 100%;
    width: 100%;
    margin-top: -400px;
    margin-left: 545px;
    vertical-align: top; /* div'lerin içi dolunca hizalama bozuluyor. 
    hizalama yapmak için kullanılır */
}
.kutu1-2 img{
    display: block;
    padding: 20px;
    margin-left: 21%;
}
.yazi3{
    display: block;
    font-size:large;
    margin: 5px;
    margin-top: -10px;
    color: #E6E6FA;
    text-align: center;
}
.yazi3-1{
    text-align: center;
    color: #E6E6FA;
}
.ekle3{
    margin-left: 89px;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 20px;
    color: #6A5ACD;
    background-color: #E6E6FA;
    text-align: center;
    border-color: #6A5ACD;
    border-radius: 10px;

}
.ekle3-2{
    margin-left: 89px;
    padding-left: 40px;
    padding-right: 42px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 20px;
    color: #6A5ACD;
    background-color: #E6E6FA;
    text-align: center;
    border-color: #6A5ACD;
    border-radius: 10px;
}
.kutu1-2 button:hover{
    background-color: #6A5ACD;
    color: #E6E6FA;
}
